.gallery {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.card {
    position: relative;
    padding-bottom: 48%;
    margin: 1%;
    flex: 0 0 48%;
    max-width: 48%;
    overflow: hidden;
}

.gallery img {
    position: absolute;
    top: 0;
    width: 150%;
    height: auto;
}

.btn {
    cursor: pointer;
   width:100%;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    margin: 10px 0;
    letter-spacing: 0.5px;
    color:#FAFAFA;
    /*background-color: #416CA5;*/
}

.btn:hover{
    background-color: #004ba0;
}

.chose {
    /*border: 3px solid #007CBA;*/
    background-color:#1976D2;
    color:#FAFAFA;
    font-family: 'Roboto', sans-serif;
}

.upload {
    background-color: #1976D2;
    opacity: 0.5;
    cursor: not-allowed;
}

.active {
    background-color: #1976D2;
    color: #FAFAFA;
}

.deleteBtn {
    width: 70px;
    padding: 5px;
    background-color: #FF3333;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 0;
}

.uploadForm {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: center;*/
    padding: 20px;
}

.formTitle {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.uploadForm label, .uploadForm span {
    width: 100%;
    padding: 10px 0;
}

.hide {
    display: none;
}

.uploadForm span{
    font-weight: 300;
    font-size: 14px;
}
